<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% if page == 'login' %}
    <h1>Login page</h1>
    <div>
      <form method="POST" action="">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter Username" />

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password" />

        <input type="submit" value="Login" />
      </form>

      <p>Haven't signed up yet?</p>
      <a href="{% url 'register' %}">Sign Up</a>
    </div>

    {% else %}
    <h1>Login & Register page</h1>
    <form method="post" action="{% url 'register' %}">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
    {% endif %}
  </body>
</html>
