{% extends 'layout.html' %}

{% block css %}
<style>
    .account {
        width: 400px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        box-shadow: 5px 5px 20px #aaa;

        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        padding: 20px 40px;
    }

    .account h2 {
        margin-top: 10px;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="account">
    <h2>Register</h2>
    <form action="/register/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="email" name="email" required>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="name" name="name" required>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="password" name="password" required>
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" placeholder="confirm password" name="password2" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary center-block">Register</button>
        </div>
    </form>
</div>
{% endblock %}
