{% extends 'user_profile_layout.html' %} {% block css %}
<style>
  .card-img-top {
    object-fit: cover;
    width: auto;
    max-height: 450px;
  }
  .card-title {
    font-size: 1.5em; /* 车型的字体比其他信息大 */
    font-weight: 700;
  }
  .card-text {
    font-size: 1.2em; /* 正常信息字体大小 */
  }
  .detail-section {
    margin-top: 20px; /* 图片下方信息与图片之间的间距 */
    font-weight: 600;
  }
  .schedule-form {
    margin-top: 20px; /* 表单与上方卡片的间距 */
  }
</style>
{% endblock %} {% block content %}

<header id="head" class="secondary"></header>

<div class="container mt-4">
  <ol class="breadcrumb">
    <li><a href="{% url 'search' %}">Search</a></li>
    <li class="active">Car Dtails</li>
  </ol>

  <div class="row">
    <article class="col-sm-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{{ car.brand|title }} {{ car.model|title }}</h1>
      </header>
      <br />
      <div class="col-md-8">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ car.image.url }}"
            alt="Image of {{ car.brand }} {{ car.model }}"
          />
          <div class="card-body detail-section">
            <h3 class="card-title">
              {{ car.brand|title }} {{ car.model|title }}
            </h3>
            <hr />
            <p class="card-text">Posted by: {{ car.posted_by }}</p>
            <p class="card-text">
              Rate per day: £{{ car.rental_rate_per_day }}
            </p>
            <p class="card-text">Location: {{ car.location }}</p>
          </div>
        </div>
      </div>

      <!-- Schedule and checkout column -->
      <div class="col-md-4 schedule-form">
        <form>
          <div class="form-group">
            <label for="start-date">Start Date:</label>
            <input
              type="date"
              id="start-date"
              name="start-date"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="start-time">Start Time:</label>
            <input
              type="time"
              id="start-time"
              name="start-time"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="end-date">End Date:</label>
            <input
              type="date"
              id="end-date"
              name="end-date"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label for="end-time">End Time:</label>
            <input
              type="time"
              id="end-time"
              name="end-time"
              class="form-control"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Check Out
          </button>
        </form>
      </div>
    </article>
    <!-- Image and car details column -->
  </div>
</div>
{% endblock %}
