{% extends 'user_profile_layout.html' %} {% block css %}
<style>
  .account {
    width: 400px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #aaa;

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px 40px;
  }

  .account h2 {
    margin-top: 10px;
    text-align: center;
  }
</style>
{% endblock %}

<!-- BODY CONTENT -->
{% block content %}
<header id="head" class="secondary"></header>
<div class="container mt-4">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active">Profile</li>
    <li class="active">Login</li>
  </ol>

  <div class="row">
    <article class="col-sm-20 maincontent">
      <header class="page-header">
        <h1 class="page-title">{{ car.brand|title }} {{ car.model|title }}</h1>
      </header>
      <br />

      <div class="account">
        <h2>Login</h2>
        <div class="panel-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label>Username</label>
              <input
                type="text"
                class="form-control"
                placeholder="username"
                name="username"
              />
            </div>
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="password"
                name="password"
              />
            </div>
            <div class="form-group">
              <!-- 添加这个div用于包裹按钮，使其并列 -->
              <div class="row">
                <!-- Bootstrap的行 -->
                <div class="col-xs-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    Login
                  </button>
                </div>
                <div class="col-xs-6">
                  <a href="{% url 'register' %}">
                    <button type="button" class="btn btn-primary btn-block">
                      Register
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </article>
    <hr />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
<!-- /BODY CONTENT -->
{% endblock %}
