{% extends 'user_profile_layout.html' %}
<!-- CSS Style -->
{% block css %}
<style>
  .rental-agreement-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 110rem;
  }

  .rental-agreement-item a {
    text-decoration: none;
    font-weight: bold;
  }

  .rental-agreement-item h5 {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .car-details {
    color: #666;
  }

  .car-brand {
    margin-right: 10px;
  }

  .car-model {
    font-style: italic;
  }
</style>
{% endblock %}
<!-- /CSS Style -->

<!-- BODY content -->
{% block content%}
<header id="head" class="secondary"></header>
<div class="container">
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'user-profile' %}">Profile</a></li>
    <li class="active">History</li>
  </ol>

  <div class="row">
    <!-- Article main content -->
    <!--<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Carseek Privacy Policy and Practices</h1>
				</header>
				<h3>Carseek Secure Servers</h3>
				<p><img src="assets/images/about.jpg" alt="" class="img-rounded pull-right" width="300" ></p>
				<p>At Carseek we want to assure our visitors that the information you provide us is used only to fulfill your request for price quotes on vehicles you have chosen. Our secure servers use the most up-to-date software to maintain your privacy.</p>
				<h3>How We Use Your Information</h3>
				<p>We will never forward your information to a dealer who, in our experience does not afford our visitors the same security measures we enforce. We will forward your contact information to the dealer who can provide a price quote on your chosen vehicle, and who makes the same privacy promise as Carseek. The dealers in your chosen zip code who satisfy the above rules will be allowed to contact you with new car prices and other info.</p>
				<h3>Contact Us</h3>
				<p>We hope this privacy policy settles any uncertainty you may have had about Internet security at Carseek. We take security on the web seriously and appreciate your trust. Contact us if you have any questions or concerns about security at Carseek.com</p>
				
			</article>-->
    <!-- /Article -->

    {% if request.user.user_type == 'renter' %}
    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right">
      <div class="panel">
        <h3><strong>Your Purchase History</strong></h3>
        <ul class="list-unstyled list-spaces">
          {% for agreement in rental_agreements %}
          <li class="rental-agreement-item">
            <a href="{% url 'generate_pdf' agreement.id %}"
              >{{ agreement.rental_start_date|date:"d/m/Y" }} to
              {{agreement.rental_end_date|date:"d/m/Y" }}</a
            ><br />
            <h5>Dealer: {{ agreement.car.posted_by.username }}</h5>
            <span class="car-details">
              <span class="car-brand">{{ agreement.car.brand }}</span>
              <span class="car-model">{{ agreement.car.model }}</span>
            </span>
          </li>
          {% endfor%}
        </ul>
      </div>
    </aside>
    <!-- /Sidebar -->
    {% else %}
    <!-- Sidebar -->
    <aside class="col-sm-4 sidebar sidebar-right">
      <div class="panel">
        <h4><strong>Your Letting History</strong></h4>
        <ul class="list-unstyled list-spaces">
          {% for agreement in rental_agreements %}
          <li class="rental-agreement-item">
            <a href="{% url 'generate_pdf' agreement.id %}"
              >{{ agreement.rental_start_date|date:"d/m/Y" }} to
              {{agreement.rental_end_date|date:"d/m/Y" }}</a
            ><br />
            <h5>Renter: {{ agreement.renter.username }}</h5>
            <span class="car-details">
              <span class="car-brand">{{ agreement.car.brand|title }}</span>
              <span class="car-model">{{ agreement.car.model|title }}</span>
            </span>
          </li>
          {% endfor%}
        </ul>
      </div>
    </aside>
    <!-- /Sidebar -->
    {% endif %}
  </div>
  {% for i in 'x'|rjust:20 %}
  <br />
  {% endfor %}
</div>
<!-- /container -->
{% endblock content%}
<!-- /BODY content -->
