<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Atlanta is a modern and fully responsive Template by WebThemez.">
	<meta name="author" content="webThemez.com">	
	<title>Car Seek</title>
	{% load static %}
	<link rel="favicon" href="{% static 'assets/images/favicon.png' %}">	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/da-slider.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/chatbox.css' %}">
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
	 {% block css %}
	 {% endblock %}
</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/images/carseeklogo.png'%}" alt="Atlanta HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					{% if page == 'home' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'home' %}">Home</a></li>
					{% if page == 'search' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'search' %}">Search Cars</a></li>
					{% if page == 'about' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'user-about' %}">About</a></li>
					
					{% if request.user.is_authenticated %}
					{% if page == 'index' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'user-profile' %}">Profile</a></li>
					{% if page == 'chatbox' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'user-chatbox' %}">Messages</a></li>
					{% if page == 'history' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'user-history' %}">History</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
					<li><a href="{% url 'login' %}">Login/Register</a></li>
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

    {% block content%} {% endblock%}

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					<div class="col-md-5 panel">
						<h3 class="panel-title">About Car Seek</h3>
						<div class="panel-body">
							<p>CarSeek is an innovative platform designed to simplify the vehicle rental process for both dealers and customers alike. Offering a diverse array of rental options, CarSeek provides a seamless experience for individuals seeking reliable transportation solutions. Dealers can effortlessly list their vehicles on our platform, expanding their reach to a broader audience of potential renters.</p> 
						</div>
					</div>

					<div class="col-md-4 panel contact"> 
						<h3 class="panel-title">Contact Info</h4>
						<div class="panel-body">
						<ul>
						  <li><i class="fa fa-phone"></i> 1-123-345-6789</li>
						  <li><a href="#"><i class="fa fa-envelope-o"></i> ouroboros.dd@gmail.com</a></li>
						  <li><i class="fa fa-flag"></i> University of Glasgow, Glasgow , G12 8QQ</li>
						</ul> 
						</div>
					</div>

					<div class="col-md-3 panel">
						<h3 class="panel-title">Follow me</h3>
						<div class="panel-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
								<a href=""><i class="fa fa-youtube fa-2"></i></a>
								<a href=""><i class="fa fa-pinterest fa-2"></i></a>
							</p>	
						</div>
					</div>
			
				</div> <!-- /row of panels -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="simplenav">
								<a href="{% url 'user-profile' %}">Profile</a> | 
								<a href="{% url 'user-about' %}">About</a> |
								<a href="{% url 'user-history' %}">History</a> |
								<a href="{% url 'search' %}">Search</a> |
								<a href="{% url 'user-chatbox' %}">Message</a>
							</p>
						</div>
					</div>

					<div class="col-md-6 panel">
						<div class="panel-body">
							<p class="text-right">
								Copyright &copy; 2014. Template by <a href="http://webthemez.com/" rel="develop">WebThemez.com</a> 
							</p>
						</div>
					</div>

				</div> <!-- /row of panels -->
			</div>
		</div>

	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="{% static 'assets/js/modernizr-latest.js' %}"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'assets/js/jquery.cslider.js' %}"></script>
	<script src="{% static 'assets/js/headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'assets/js/custom.js'%}"></script>
</body>
</html>